<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "login_page", media: "all" %>
    <%= javascript_include_tag "login_page" %>
  </head>
  <body class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content forgot">
            <%= devise_error_messages! %>
            <%= form_for(resource, as: resource_name,
              url: password_path(resource_name), html: { method: :post }) do |f| %>
              <h1><%= t "session.forgot_password" %></h1>

              <%= f.label :email, class: "label-text" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email",
                class: "form-control", placeholder: t("session.email"),
                required: true %>

              <%= f.submit "Send me reset password instructions" %>
            <% end %>

            <%= render "devise/shared/links" %>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
