<% provide :title, t(".title") %>

<div class="managers-course-classes-index">
  <div class="page-title">
    <div class="title_left">
      <h3><%= t ".title" %></h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <%= link_to new_sellers_product_path,
            class: "btn btn-primary pull-right" do %>
            <i class="fa fa-plus"></i> <%= t ".new_product" %>
          <% end %>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-striped table-bordered datatable">
            <thead>
              <tr>
                <th class="text-right">#</th>
                <th class="text-center" width="200">
                  <%= Product.human_attribute_name :picture %>
                </th>
                <th class="text-center">
                    <%= Product.human_attribute_name :name %>
                </th>
                <th class="text-center" width="57">
                    <%= Product.human_attribute_name :price %>
                </th>
                <th class="text-center" width="85">
                    <%= Product.human_attribute_name :area %>
                </th>
                <th class="text-center" width="65">
                    <%= Product.human_attribute_name :started_at %>
                </th>
                <th class="text-center" width="65">
                  <%= Product.human_attribute_name :finished_at %>
                </th>
                <th class="text-center" width="1">
                  <%= Product.human_attribute_name :category %>
                </th>
              </tr>
            </thead>
            <tbody>
              <%= render @products %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
